<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184332446615-5mpdrhh4185es3a654b8smji87ch2e0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184332446615-5mpdrhh4185es3a654b8smji87ch2e0r</string>
	<key>API_KEY</key>
	<string>AIzaSyAx3F00i0q7GP6IjFzzvzkXthVQxWVlFq4</string>
	<key>GCM_SENDER_ID</key>
	<string>184332446615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.login</string>
	<key>PROJECT_ID</key>
	<string>login-4d918</string>
	<key>STORAGE_BUCKET</key>
	<string>login-4d918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184332446615:ios:f7c71cd8c03ff6057ab2d2</string>
</dict>
</plist>